extends layout

block content
  .single
    .single__hero
      img.single__image(src=`/uploads/${photo || 'store.png'}`)
      h2.title.title--single
        a(href=`/store/${slug}`) #{name}
      
    .single__details.inner
      img.single__map(src=h.staticMap(location.coordinates))
      p.single__location #{location.address}
      p #{description}
      if tags
        ul.tags
          each tag in tags
            li.tag
              a.tag__link(href=`/tags${tag}`)
                span.tag__text #{tag}
